@import url("@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Delicious+Handrawn&family=Open+Sans:ital,wght@0,300;0,400;1,500&family=Roboto:wght@700&display=swap');");
* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
}

body {
  height: 100%;
  background-image: linear-gradient(
    rgba(126, 0, 0, 0.9),
    rgb(0, 0, 0.9, 0.9),
    rgb(0, 0, 0.9, 0.9),
    rgb(0, 0, 0, 0.9),
    rgba(126, 0, 0, 0.9)
  );
}
