#details-wrapper {
  margin: 50px auto;
  height: 1000px;
  width: 50%;
}

#details-wrapper img {
  display: block;
  margin: 10px auto;
  height: 50vh;
  width: 90vh;
}

#details-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

#details-category {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

#details-price {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
}

#details-description {
  width: 85%;
  margin: 30px auto;
  height: auto;
  text-align: center;
  color: white;
}
#products-description {
  width: 85%;
  margin: 30px auto;
  height: auto;
  text-align: center;
  color: white;
}

#products-title {
  padding: 10px;
  color: rgb(94, 255, 94);
  text-decoration: underline;
}

#details-title {
  padding: 10px;
  color: rgb(94, 255, 94);
  text-decoration: underline;
  text-transform: uppercase;
}

.products-list {
  list-style-type: none;
}

h3 {
  text-align: center;
  padding: 15px;
  color: white;
}

p {
  text-align: center;
  font-size: 19px;
}

span {
  font-size: 17px;
}

#action-buttons {
  display: flex;
  justify-content: center;
}

#action-buttons a {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 20%;
  background: rgb(255, 255, 255);
  border: 1px solid #d30303;
  padding: 15px;
  color: #d30303;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}
#action-buttons a:hover {
  color: #ffffff;
  background-color: #d30303;
  transition: 0.3s linear;
}

.user-btn {
  display: "";
}
