.navbar {
  padding: 6px 5%;
  display: flex;
  justify-content: right;
  background-color: black;
}


.navbar .menu li {
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  padding: 15px;
  margin-right: 3px;
  color: #d30303;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.navbar .menu li a:hover {
  color: #820404;
}